@media (min-width:35rem){

  .service-container,
  .work-container{
    grid-template-columns: repeat(2,1fr);
    justify-items:center;
  }

  .service-card-link{
    text-align:center;
  }

  .hero-heading{
    font-size:3rem;
    margin-bottom: var(--space-24);
  }

  .hero-paragraph{
    font-size:2.2rem;
    margin-bottom: var(--space-24);
  }

  .hero-img-container{
    max-width:450px;
    max-height:450px;
  }

  .about-img-container{
    max-width:500px;
    max-height:500px;
  }
}

@media (min-width:48rem){

  html{
    font-size:68%;
  }

  .hamburger-btn{
    display:none;
  }

  .brand-logo{
    white-space:nowrap;
  }

  .nav-links-container{
    display:flex;
    flex-direction:row;
    align-items:center;
    box-shadow:none;
    height:auto;
    position:static;
    padding:0;
    background-color:transparent;
  }

  .nav-links-group{
    display:flex;
    gap:var(--space-12);
    margin:0 auto;
  }

  .nav-btn-container{
    display:flex;
    flex-direction:row;
    align-items:center;
    gap:var(--space-12);
    flex-shrink:0;
    margin:0;
    padding:0;
    width:fit-content;
    border-top:0;
  }

  .hero-btn-container,
  .cta-btn-container{
    flex-direction:row;
    width:fit-content;
  }

  .hero-container{
    margin-top:32px;
    min-height:100vh;
    align-items:center;
    justify-content:center;
  }

  .hero-paragraph,
  .resume-paragraph{
    max-width:70ch;
  }

  .hero-img-container{
    max-width:500px;
    max-height:500px;
    width:100%;
    align-self:flex-start;
  }

  .footer-container{
    justify-content:space-between;
    flex-direction:row;
  }
}


@media (min-width:64rem){

  html{
    font-size:71.875%;
  }

  .hero-container{
    min-height:90vh;
  }

  .hero-container,
  .about-container{
    flex-direction:row;
  }

  .service-container,
  .work-container{
    grid-template-columns: repeat(3,1fr);
  }

  .hero-img-container{
    align-self:center;
  }

  .about-img-container{
    max-width:500px;
  }
}


@media (min-width:80rem){
  html{
    font-size:75%;
  }
}


@media (min-width:90rem){
  html{
    font-size:78.125%;
  }
         }
